services:
  myce:
    container_name: "{{ service_name }}"
    image: "{{ image_name }}:latest"
    restart: always
    ports:
      - "{{ app_port }}:{{ app_port }}"
    volumes:
      - "{{ app_dir }}/logs:/app/logs"