version: '3.8'

services:
  myce:
    container_name: myce
    image: {{ image_name }}:latest
    restart: always
    env_file:
      - .env
    ports:
      - "{{ app_port }}:{{ app_port }}"
    volumes:
      - "{{ app_dir }}/logs:/app/logs"